{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{{ quiz.chapter.name }} : {{ quiz.name }}</h2>

    <form method="POST" action="{{ url_for('submit_quiz') }}">
        <input type="hidden" name="quiz_id" value="{{ quiz.id }}">

        {% for question in questions %}
        <div class="card my-3">
            <div class="card-body">
                <p><strong>{{ loop.index }}. {{ question.statement }}</strong></p>
                {% for option in question.options %}
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="answers[{{ question.id }}]" value="{{ option }}" style="box-shadow: 0 0 1px 1px rgb(232, 213, 116); outline: none;" required>
                    <label class="form-check-label">{{ option }}</label>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}

        <div class="d-flex justify-content-between mt-4">
            <a href="{{ url_for('quizzes') }}" class="btn btn-secondary">Exit Quiz</a>
            <button type="submit" class="btn btn-success">Submit Quiz</button>
        </div>
    </form>
</div>
{% endblock %}
